.App {
  text-align: center;
  background-image: radial-gradient(circle, #5a39e9, #0072ff, #0090f3, #00a5d4, #00b5b7, #14c0ac, #41ca9a, #6bd284, #91dc8b, #b1e694, #ceefa1, #e8f9b0);
  min-height: 100vh;
  color: beige;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.kinda {
  color: #61dafb;

}
.titles {
  text-align: left;
  color: salmon;
}
p:hover {
  color: beige;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
