body {
  text-align: center;
  background-image: linear-gradient(to left bottom, #c19ab4, #b688b1, #a877b0, #9368b2, #785bb5, #6668c6, #4a74d5, #0080e1, #00a3f3, #00c2f9, #00e0f7, #5ffbf1);
  
  min-height: 100%;
  color: beige;
}

.App {
  background-image: radial-gradient(circle, #c19ab4, #b282b0, #9b6cb1, #785bb5, #3d4eba);
  border-radius: 20px;
  padding: 1rem 2rem;
  margin: 3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.kinda {
  color: #61dafb;

}
.titles {
  text-align: left;
  color: rgb(255, 115, 0);
}
p:hover {
  color: beige;
}
.App-link {
  color: #61dafb;
}

.project {
  
  width: 30vw;
  border-radius: 5px;
  padding: 2px 8px;
  
}

.projectContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 5px;
  padding: 2px 8px;
  color: yellow;
  
}

.Bio {
  text-align: left;
  color:rgb(228, 228, 60);

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
